hr{
    margin: 0;    
}
.rodape{
    background-color: var(--bgH1);
    padding: 1em;
}
.listaRodape{
    display: none;
}
@media screen and (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    .listaRodape{
        display: block;
    }
    .listaRodapeItem{
        display: flex;
        align-items: center;
        margin: 0.6em 0em;
    }
    .listaRodapeLink{
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.7em;
    }
    .listaRodapeTitulo{
        font-size: 0.9rem;
        color: var(--cinzaTitulo);
    }
    .rodapeTitulo{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1728px){
    .listaRodape{
        border-left: 1px solid var(--cinzaTitulo);
        padding-left: 1em;
    }
    .rodape{
        padding: 3em 0em;
    }
}